/* 
.main {
  padding: 3em 0;
}
.currentEvents {
  background-color: #83c5be;
  width: 70%;
  padding: 20px;
  margin: auto;
}

.items {
  border: 1px solid #006d77;
  margin-bottom: 3px;
  padding: 10px;
}

.items i {
  margin-right: 5px;
}

.newEvent {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%; 
  padding: 20px 0;
}

.formData {
  margin: 10px 0;
  padding: 1em;
  border: 1px solid #006d77;
  color: #006d77;
  width: 60%;
}

.formData::placeholder {
  font-size: 1em;
  font-weight: 700;
  color: #006d77 ;
}

.formData:focus {
  outline: none;
}

.btn {
  background-color: #83c5be;
  font-weight: 700;
  margin: auto
} */
