/* .sideBar {
  display: fixed;
}
.content p {
  font-weight: 700;
  color: #006d77;
}

.navigation {
}

.navigation > ul {
  list-style: none;
  
}

.navigation ul li  {
  background: #006d77;
  border-radius: 6px;
  display: inline;
  margin-left: 10px;
  padding: 8px;
}

.navigation ul li:first-child {
  margin-left: -20px;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1em;
  color: #edf6f9;
}

@media screen and (min-width: 1000px) {
  .navigation ul li  {
    background: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }
  .navigation ul li:first-child {
    margin-left: 0;
  }
  
  .navigation ul li a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    color: #edf6f9;
  }
}  */