.dropdown-menu {
  width: 250px;
  position: absolute;
  top: 70px;
  right: 15em;
  list-style: none;
  text-align: center;
}

.dropdown-menu li {
  background: #75e2ad;
  cursor: pointer;
  margin-bottom: 2px;
  width: 100%;
  text-align: left;
  text-transform: capitalize;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #e5ebe8;
  padding: 16px;
}
