/* events */
.events {
  background: #3C493F;
  display: flex;
  flex-direction: column;
}


.mainContent {
  flex-grow: 1;
  color: #F0F7F4;
}

.subheading p {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
}


.eventBody {
  padding: 3em;
}

.data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  width: 100%;
  margin: auto;
}

.imageHolder img {
  width: 100%;
}

.coming {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.coming img {
  width: 100%
}

@media screen and (max-width: 960px) {
  .coming .text {
    padding: 0 1.5em;
  }

  .eventBody {
    padding: 2em;
  }

  .text {
    margin-top: -20px;
  }
}