/* events */
.event {
  background: #3C493F;
  /* display: flex; */
  flex-direction: column;
}


.mainContent {
  /* flex-grow: 1; */
  color: #F0F7F4;
}

.subheading p {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
}


.eventBody {
  padding: 3em;
}

.data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  width: 60%;
  margin: auto;
}

.coming img {
  width: 100%;
  height: 200px;
}

.coming {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* height: 30%; */
}

.coming .text {
  padding: 1.5em;
}

@media screen and (max-width: 960px) {
  .eventBody {
    padding: 2em;
  }

  .data {
    width: 100%;
  }

  .text {
    margin-top: -20px;
  }
}