.parent {
  flex-grow: 1;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2px;
}

.payOnline {
  padding: 2em;
}

.button {
  border: 1px solid #63e0a4;
  background: #63e0a4;
  color: #F0F7F4;
  font-weight: 600;
  letter-spacing: 1px;
  /* margin-bottom: 0.8em; */
  margin: auto;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
  cursor: pointer;
}

.flutter {
  margin-bottom: 3px;
  transition: all 2s ease;
}

.flutter:hover {
  background-color: #f5a623;
  color: #000;
  border: 1px solid #000;
}

.payStack {
  margin-bottom: 3px;
  transition: all 2s ease;
}

.payStack:hover {
  background-color: #00c3f7;
  color: #011b33;
  border: 1px solid #011b33;
}

.giveOnline {
  background: #3C493F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.accountDetails {
  margin: auto;
  width: 100%;
}

.accountDetails p {
  background: #63e0a4;
  text-align: center; 
  color: #F0F7F4;
  width: 50%;
  padding: 3px;
}

.accountDetails ul {
  margin: auto;
  padding-bottom: 30px;
}

.accountDetails li {
  border: 1px solid #83c5be;
  color: #F0F7F4;
  list-style: none;
  margin: auto;
  width: 50%;
  padding: 1em;
  margin-bottom: 2px;
}